name: Test

on:
  push:
    paths:
      - ".github/workflows/test.yml"
      - "src/**"
      - "lib/**"
      - "test/**"
      - "script/**"

  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "src/**"
      - "lib/**"
      - "test/**"
      - "script/**"

env:
  FOUNDRY_PROFILE: ci

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Show Forge version
        run: forge --version

      - name: Run Forge build
        run: forge build --sizes

      - name: Run Forge tests
        run: forge test -vvv
